{% extends 'pdf/base.html' %}

{% block content %}


<div class="container mt-5">

    <div class="row">

        <div class="col-md-12">

            <h2> {{ user_profile.name }} </h2>
            <h4> {{ user_profile.email }} </h4>
            <h5> {{ user_profile.phone }} </h5>


        </div>

        <hr />

        <div class="col-md-12">

            <h4> About Me: </h4>
            <p> {{ user_profile.summary }} </p>


        </div>

        <hr />

        <div class="col-md-12">

            <h4> Education: </h4>


            <p> <b>School :</b> {{ user_profile.school }} </p>
            <p> <b>University:</b> {{ user_profile.university }} </p>
            <p> <b>Degree :</b> {{ user_profile.degree }} </p>


        </div>

        <hr />

        <div class="col-md-12">

            <h4> Experience: </h4>

            <p> {{ user_profile.previous_work }} </p>


        </div>

        <hr />

        <div class="col-md-12">

            <h4> Skills: </h4>
            <p> {{ user_profile.skills }} </p>


        </div>

        <hr />

    </div>

</div>

{% endblock %}